spring:
  datasource:
    url: jdbc:mysql://o84ck4koww8gww0k80s88448:3306/default
    username: anjinma
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect